#app * {
	font-family: Arial, Helvetica, sans-serif;
}

#app button {
	padding: 10px;

	border: 1px solid rgba(0, 0, 0, 0.1);
	border-radius: 5px;
	background: #FAFAFA;
	box-shadow: 0px 2px 3px #AAAAAA;
}

#app #transform_add_list a {
	color: blue;
	text-decoration: underline;
	cursor: pointer;
}

#app a {
	cursor: pointer;
}

#app {
	display: grid;
	grid-template-areas:
		"c c"
		"a e";
	grid-template-columns: 150px auto;
	/* gap: 16px; */
	margin: 0px;
}

#app canvas {
	grid-area: c;
}

#app #equation {
	grid-area: e;
	display: flex;
	flex-direction: row;
	overflow-x: scroll;
	padding: 8px;
}

#app #transform_add_list {
	grid-area: a;
	display: flex;
	flex-direction: column;
	gap: 8px;
	padding: 8px;
}

#app #transform_list {
	display: flex;
	flex-direction: row;
}

#app #transform_list>* {
	margin-right: 40px;
}

#app .transform_container {
	width: 200px;
	padding: 10px;
	border-radius: 8px;

	background: #FAFAFA;
	box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.5);
}

#app .transform_container:not(:first-child):before {
	content: "\D7";
	font-size: 6ex;

	position: relative;
	left: -44px;
	top: 80px;
	float: left;
	height: 0px;
}

.transform_container>div,
#app .transform_container>div>* {
	width: 100%;
}

#app .transform_container>div:nth-child(3) {
	border: 2px solid #000000;
	border-top: none;
	border-bottom: none;
	border-radius: 10px;
}

#app .transform_container td {

	height: 30px;
	text-align: center;
	vertical-align: middle;

}

#app .transform_container>div:last-child td:last-child {
	width: 100%;
}

#app .transform_container a {
	font-size: 4ex;
}

#app .transform_container input {
	width: 100%;
}

#app #output>.transform_container>div:nth-child(1) {
	display: none;
}

#app #output>.transform_container:before {
	content: "=";
	font-size: 6ex;

	position: relative;
	left: -44px;
	top: 35px;
	float: left;
	height: 0px;
}