#transform_list > *{
	margin-right: 10px;
}

.tranform_container{
	width: 150px;
	padding: 10px;
	/* border: 1px solid #888888; */
	border-radius: 8px;

	float: left;

	background: #FAFAFA;
	box-shadow: 0px 2px 5px #888888;
}

.tranform_container > div, .tranform_container > div > *{
	width: 100%;
}

.tranform_container > div:nth-child(2){
	border: 2px solid #000000;
	border-top: none;
	border-bottom: none;
	border-radius: 10px;
}

.tranform_container td{
	
	width: 50px;
	height: 30px;
	text-align: center;
	vertical-align: middle;

}